@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Student Management System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Student Management System</h2>
        <p>
            To manage all the student enrollments to courses.
        </p>
    </div>

</div>